.nav{
    border-radius: 7px;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    background-color:lightblue;
    li{
        list-style-type: none;
    }
    
}
.formm{ 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
