.form{
    line-height: 1em;
    min-width: 14em;
    min-height: 2.714286em;
    border: 2px solid lightblue;
    border-radius: 0.28571429rem;
    
}
.select{
    margin-bottom: 3rem;
    margin-left: 2.6rem;
    line-height: 2.2em;
    width: 14em;
    border: 2px solid lightblue;

}
.drop{
    margin-top: 1rem;
    margin-left: 1.6rem;

}




