
/*---pure container ki scss--*/
.container{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    max-height: 20rem;
    width:100%;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    
    /*---card scss*/
    .card{
        display: flex;
        height: 100%;
        max-height: 8rem;
        width: 100%;
        max-width: 16.5rem;
        background-color: #FFFFFF;
        flex-direction: column;
        border-radius: 30px;
        justify-content: space-evenly;
        padding-left: 1rem;
        padding-right: 1rem;
        border: 1px solid rgba(32, 26, 26, 0.1);
        box-shadow: 0px 4px 4px rgba(73, 63, 63, 0.05);
        
        /*--- heading ki scss---*/
        .heading{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'Montserrat';
        word-break: break-word;
        overflow: hidden;

        /*--- upr do heading k liye--*/
        .subheading{
            display: flex;
            
            flex-direction: row;

        }
            
        /*--- DW ki scss--*/
         .Icon{
          height: 2rem;
            }
            /*---url or contant ki scss--*/
            .work{
                display: flex;
                flex-direction: column;
                align-items: center;
                a{
                    font-size: x-small;
                }
             }
             /*---choti si 5 image ki scss ---*/
            .img{
             height: 1rem;
            }
        }
        /*---category ki scss ---*/
        .category{
        display: flex;
        justify-content: space-evenly;
        font-size: x-small;
            
            .catitem{
            color:white;
            background-color: black;
            font-size: xx-small;
            border-radius: 1rem;
            padding-left: 10px;
            padding-right: 10px;    
            }
        }
        .ratings{
            display: flex;
            justify-content: space-between;
            .images{
                img{
                    justify-content: space-between;
                    margin:-2.9px;
                    height:1.5rem;
                }
            }
        }
    }

    }
