

.box{
    position: relative;
    border: 10px solid gray;
    width: 600px;
    height: 240px;
    left: 100px;
    top: 100px;
    overflow: auto;
}
.box img{
     position: absolute;
     top: 140px;
     right: 80px;
}