/*---pure container ki scss--*/
.containerr {
  // display: flex;
  // justify-content: flex-start;
  width: 100%;
  // align-items: center;
  // flex-direction: row;
//  overflow: hidden;

  /*---card scss*/
  .cardss {
    // display: flex;
    // word-wrap: break-word;
    // flex-direction: column;
    border-radius: 30px;
    justify-content: space-evenly;
    // padding: 1rem;
    background: #FFFFFF;
    // border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

    /*--- upr do heading k liye--*/
    .subheadings {
      // display: flex;
      // align-items: center;
      // 
      
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-family: 'Montserrat';
     
      .work{
        // overflow: hidden;
        padding-left: 0.5rem;
        font-family: 'Montserrat';
        span {
          font-size: 10px;
        }
        p{
          font-size: 10px;
        }
      }

      .Icon {
        
        img {
           height: 3rem;
          border-radius: 10px;
        }
      }
    }
    .secondcontainer{
        display: flex;
        // margin-top: 6px;
        // justify-content: center;

       .liveProjects {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
       font-family: 'Montserrat';
      //  padding-right: 5px;
       border-right: 1px solid rgba(0, 0, 0, 0.1);
       P {
           font-size: 8px;
       }
    }
     .employeeContainer{
        // display: flex;
        // flex-direction: column;
        //  align-items: center;
        font-family: 'Montserrat';
         padding-left: 10px;
        width:50px;
        P {
          font-size: 8px;
          width:50px;
      }
     }
}
    /*---url or contant ki scss--*/
    .work {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // word-wrap: break-word;
      a {
        font-size: x-small;
      }
    }

    /*---choti si 5 image ki scss ---*/
    .img {
      height: 1rem;
    }
  }
  
  .setFont{
    font-size: 20px;
  }
  @media only screen and (max-width:400px){
    .cardss{
        height: 100%;
    word-wrap: break-word;
    max-height: 20rem;
    width: 100%;
    max-width: 18rem;
    }
  }
  /*---category ki scss ---*/
  .category {
    display: flex;
    justify-content: space-evenly;
    font-size: x-small;

    .catitem {
      color: white;
      background-color: black;
      font-size: xx-small;
      border-radius: 1rem;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .ratings {
    display: flex;
    justify-content: space-between;
    .images {
      img {
        justify-content: space-between;
        height: 1.5rem;
    }
    
  }
}
}
