
//  body{
//   box-sizing: border-box;
// }
// h1{
//   font-family: Arial, Helvetica, sans-serif;
//   font-size: 30px;
//   padding-left: 20px;



// // }

// #first{
//   background-color: lightblue;
//   width: 45%;
//   font-size: Arial, Helvetica, sans-serif;
//   font-size:20px;
//   margin: 0 0 15px 15px;
//   padding:20px;
//   border-radius: 20px;
// }

// #second{
//   background-color: lightblue;
//   width: 40%;
//  @extend #first;
// }
// #third{
//   background-color: lightblue;
//   width: 30%;
// @extend #first;
// }
  .App{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    background-color: darkcyan;
    width: 100vw;
    padding-bottom: 12rem;
 }